<footer class="bg-dark text-white py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3 mb-md-0">
        <h5>Sekolah Harapan Bangsa</h5>
        <p>Jl. Pendidikan No. 123<br />Kota Sejahtera, 12345<br />Indonesia</p>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <h5>Kontak</h5>
        <p>Telepon: (021) 123-4567<br />Email: info@sekolahharapanbangsa.edu</p>
      </div>
      <div class="col-md-4">
        <h5>Ikuti Kami</h5>
        <div class="d-flex">
          <a href="#" class="text-white me-3"><i class="bi bi-facebook"></i></a>
          <a href="#" class="text-white me-3"><i class="bi bi-twitter"></i></a>
          <a href="#" class="text-white me-3"
            ><i class="bi bi-instagram"></i
          ></a>
          <a href="#" class="text-white"><i class="bi bi-youtube"></i></a>
        </div>
      </div>
    </div>
    <hr class="my-4" />
    <div class="text-center">
      <p>&copy; 2023 Sekolah Harapan Bangsa. Hak Cipta Dilindungi.</p>
    </div>
  </div>
</footer>
